.List {
	background-color: green;
	color: white;
	height: 100%;
	left: 0;
	margin: 0;
	min-width: 250px;
	padding-top: 15px;
	position: absolute;
	top: 0;
	width: 20%;
	z-index: 10;
}

.place {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
}

.active {
	background-color: #F53E37;
	color: #4A0D0C;
	padding: 5px;
}
